:root {
  --color-1: #AA888D;
  --color-2: #926369;
  --color-3: #7E4E54;
  --color-4: #A0404D;
  --color-5: #A62637;
  --color-6: #7E2633;
  --color-7: #501620;
  --color-8: #310C13;
  --color-9: #110305;
  --text-light: #f0f0f0;
  --text-dark: #d4d4d4;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: var(--color-7);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --bg-color: var(--color-4);
  }
}
:root {
  --text-font: "Kanit", sans-serif;
  --title-font: "Ubuntu", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--title-font);
  background-color: var(--bg-color);
  position: relative;
  overflow-x: hidden;
}

h3.card_title {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--color-4);
}
h3.profile_card_title {
  text-align: center;
  color: var(--text-light);
  position: absolute;
  top: 16px;
}

h4.profile_title {
  width: 35%;
  padding: 0.3rem 0.7rem;
  color: var(--color-9);
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
a.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--title-font);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.1rem 0.4rem;
}
a.header_title:hover {
  color: var(--color-6);
  background-color: var(--text-dark);
}
a.header_user_acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  padding: 0.2rem 0;
  text-transform: uppercase;
  color: var(--color-8);
}
a.header_user_acoes:hover {
  background-color: var(--color-8);
  color: var(--text-dark);
}

p.footer_text {
  color: var(--color-1);
}
p.profile_text {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.7rem;
  border-radius: 0 0.3rem 0.3rem 0;
  transition: background-color 0.2s ease-in-out;
  color: var(--text-dark);
}
p.profile_text:hover {
  background-color: var(--color-7);
}

span.footer_year {
  color: var(--color-2);
  font-style: italic;
}

.header, .footer {
  width: 100%;
  background-color: var(--color-8);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
}

.header_container {
  max-width: 1080px;
  width: 100%;
  z-index: 5;
}
.header_container ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_container ul li.header_user {
  padding: 0.5rem 0.4rem;
  border-radius: 50%;
  background-color: var(--text-dark);
  color: var(--color-8);
  position: relative;
}
.header_container ul li.header_user ul {
  height: 90px;
  width: 90px;
  background-color: var(--text-dark);
  position: absolute;
  bottom: -90px;
  left: 0;
  display: none;
  row-gap: 0.75rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}
.header_container ul li.header_user ul li {
  width: 100%;
}
.header_container ul li.header_user:hover {
  border-radius: 50% 50% 0 0;
}
.header_container ul li.header_user:hover ul {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}
.header_container ul li.header_bao i {
  margin-right: 10px;
}

.home {
  width: 100%;
  height: calc(100vh - 140px);
}
.home_container {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 1rem 0;
  display: grid;
  grid: "boleto meta cartao" 1fr "cheque meta investimento" 1fr/minmax(200px, 0.8fr) minmax(350px, 1fr) minmax(200px, 0.8fr);
  gap: 1rem;
}
.home_container .boleto {
  grid-area: boleto;
}
.home_container .cheque {
  grid-area: cheque;
}
.home_container .meta {
  grid-area: meta;
}
.home_container .cartao {
  grid-area: cartao;
}
.home_container .investimento {
  grid-area: investimento;
}

.profile {
  width: 100%;
  height: calc(100vh - 140px);
}
.profile_container {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 1rem 0;
  display: grid;
  grid: "dados endereco" 1fr "dados endereco" 1fr "acoes acoes" 80px/minmax(400px, 1fr) minmax(400px, 1fr);
  gap: 1rem;
}
.profile_container .dados {
  grid-area: dados;
}
.profile_container .endereco {
  grid-area: endereco;
}
.profile_container .acoes {
  grid-area: acoes;
}

input,
select {
  width: 65%;
  height: 100%;
  font-family: var(--title-font);
  font-size: 1rem;
  border: 0;
  outline: 0;
  padding-right: 0.7rem;
  text-align: center;
  color: var(--text-dark);
  background-color: inherit;
  border-radius: 0 0.3rem 0.3rem 0;
  transition: background-color 0.2s ease-in-out;
}
input[type=date],
select[type=date] {
  cursor: text;
}
input:hover, input:focus,
select:hover,
select:focus {
  background-color: var(--color-7);
}

select {
  cursor: pointer;
}

button, input[type=submit] {
  border: none;
  outline: none;
  font-family: var(--title-font);
  font-size: 1rem;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  background-color: var(--color-5);
  color: var(--text-light);
}
.button:hover, .button:focus {
  background-color: var(--color-8);
  box-shadow: 2px 2px 3px var(--color-9);
}

.alert {
  opacity: 0;
  pointer-events: none;
  width: 290px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 4px solid var(--color-1);
  position: absolute;
  z-index: 10;
  top: 85px;
  right: 0;
  transform: translateX(0);
  transition: transform 0.75s ease-out;
  color: var(--color-1);
  background-color: var(--color-8);
}

#modal, #fade {
  transition: 0.25s ease-in-out;
  opacity: 1;
  pointer-events: all; /* COM GATILHO DE EVENTOS COMO CLICK ETC */
}
#modal.hide, #fade.hide {
  opacity: 0;
  pointer-events: none;
}

#fade {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

#modal {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 2rem 0;
  border-radius: 0.5rem;
  background-color: var(--color-7);
  z-index: 11;
}
#modal article {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-light);
}
#modal article h5 {
  font-size: 1.15rem;
}
#modal article p {
  text-align: center;
  font-style: italic;
}
#modal div {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1.5rem;
}

#modal.hide {
  top: 0;
}

.home_container .card {
  background-color: var(--color-6);
  border-radius: 0.5rem;
}
.home_container .meta {
  display: flex;
  flex-flow: column nowrap;
}
.home_container .meta_acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  height: 35px;
}
.home_container .meta_acoes span {
  cursor: pointer;
}
.home_container .meta_carrosel {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}
.home_container .meta_carrosel .meta_carrosel_limit {
  height: 100%;
  display: flex;
  transition: transform 0.75s ease-in-out;
  transform: translateX(0);
}
.home_container .meta_carrosel .meta_carrosel_limit .content {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: inherit;
}
.home_container .meta_carrosel .meta_carrosel_limit .content.a1 {
  background-color: pink;
}
.home_container .meta_carrosel .meta_carrosel_limit .content.a2 {
  background-color: orangered;
}
.home_container .meta_carrosel .meta_carrosel_limit .content.a3 {
  background-color: olivedrab;
}

.profile_container .card {
  height: 100%;
  background-color: var(--color-6);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  row-gap: 0.9rem;
  position: relative;
}
.profile_container .card article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3rem;
  background-color: var(--color-5);
}
.profile_container .acoes {
  flex-direction: row;
  justify-content: center;
  gap: 0 1rem;
}/*# sourceMappingURL=style.css.map */