:root {
  --color-1: #AA888D;
  --color-2: #926369;
  --color-3: #7E4E54;
  --color-4: #A0404D;
  --color-5: #A62637;
  --color-6: #7E2633;
  --color-7: #501620;
  --color-8: #310C13;
  --color-9: #110305;
  --text-light: #f0f0f0;
  --text-dark: #d4d4d4;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: var(--color-7);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --bg-color: var(--color-4);
  }
}
:root {
  --text-font: "Kanit", sans-serif;
  --title-font: "Ubuntu", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 1px solid red;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--title-font);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

h3.card_title {
  text-align: center;
  color: var(--text-light);
  padding: 0.3rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--color-4);
}
h3.card_title::first-letter {
  text-transform: uppercase;
}

h4.profile_title {
  color: var(--color-9);
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
a.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--title-font);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.1rem 0.4rem;
}
a.header_title:hover {
  color: var(--color-6);
  background-color: var(--text-dark);
}
a.header_user_acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  padding: 0.2rem 0;
  text-transform: uppercase;
  color: var(--color-8);
}
a.header_user_acoes:hover {
  background-color: var(--color-8);
  color: var(--text-dark);
}

p.footer_text {
  color: var(--color-1);
}
p.profile_text {
  color: var(--text-dark);
}

span.footer_year {
  color: var(--color-2);
  font-style: italic;
}

.header, .footer {
  width: 100%;
  background-color: var(--color-8);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
}

.header_container {
  max-width: 1080px;
  width: 100%;
}
.header_container ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_container ul li.header_user {
  padding: 0.5rem 0.4rem;
  border-radius: 50%;
  background-color: var(--text-dark);
  color: var(--color-8);
  position: relative;
}
.header_container ul li.header_user ul {
  height: 90px;
  width: 90px;
  background-color: var(--text-dark);
  position: absolute;
  bottom: -90px;
  left: 0;
  display: none;
  row-gap: 0.75rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}
.header_container ul li.header_user ul li {
  width: 100%;
}
.header_container ul li.header_user:hover {
  border-radius: 50% 50% 0 0;
}
.header_container ul li.header_user:hover ul {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}
.header_container ul li.header_bao i {
  margin-right: 10px;
}

.home {
  width: 100%;
  height: calc(100vh - 140px);
}
.home_container {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 1rem 0;
  display: grid;
  grid: "boleto meta cartao" 1fr "cheque meta investimento" 1fr/minmax(200px, 0.8fr) minmax(350px, 1fr) minmax(200px, 0.8fr);
  gap: 1rem;
}
.home_container .boleto {
  grid-area: boleto;
}
.home_container .cheque {
  grid-area: cheque;
}
.home_container .meta {
  grid-area: meta;
}
.home_container .cartao {
  grid-area: cartao;
}
.home_container .investimento {
  grid-area: investimento;
}

.profile {
  width: 100%;
  height: calc(100vh - 140px);
}
.profile_container {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 1rem 0;
  display: grid;
  grid: "dados endereco" 1fr "dados endereco" 1fr "acoes acoes" 100px/1fr 1fr;
  gap: 1rem;
}
.profile_container .dados {
  grid-area: dados;
}
.profile_container .endereco {
  grid-area: endereco;
}
.profile_container .acoes {
  grid-area: acoes;
}

.home_container .card {
  background-color: var(--color-6);
  border-radius: 0.5rem;
}

.profile_container .card {
  height: 100%;
  background-color: var(--color-6);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  row-gap: 0.9rem;
}
.profile_container .card article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  background-color: var(--color-5);
}/*# sourceMappingURL=style.css.map */