@use './mixins' as *;

h3{
  &.card_title{
    text-align: center;
    color: var(--text-light);
    padding: .3rem 0;
    border-radius: .5rem .5rem 0 0;
    background-color: var(--color-4);

    &::first-letter{
      text-transform: uppercase;
    }
  }
}

h4{
  &.profile_title{
    color: var(--color-9);
  }
}

a{
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

  &.header_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--title-font);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .1rem .4rem;

    &:hover{
      color: var(--color-6);
      background-color: var(--text-dark);
    }
  }

  &.header_user_acoes{
    @include flex-center;
    width: 80%;
    margin-inline: auto;
    padding: .2rem 0;
    text-transform: uppercase;
    color: var(--color-8);

    &:hover{
      background-color: var(--color-8);
      color: var(--text-dark);
    }
  }
}

p{
  &.footer_text{
    color: var(--color-1);
  }

  &.profile_text{
    color: var(--text-dark);
  }
}

span{
  &.footer_year{
    color: var(--color-2);
    font-style: italic;
  }
}